body {
	padding: 0;
	margin: 0;
}

a img {
	border:none;
}

html, body, #map {
	height: 100%;
}

.leaflet-control-layers {
	width: 200px;
}

.leaflet-control h4 {
	margin:8px 0px 8px 5px;
	font-size:1.6em;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
	text-align: right;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #222;
}

.all_ctrls {
	text-align:center;
	width: 100%;
	margin-top: 10px;
}
.left {
	float: none;
}


.right {
	float: none;
}

.dropbox {
	display:none;
	overflow-y:scroll;
	max-height:300px;
	min-height:50px;
	padding: 5px;
}

.myctrls a {
	font-size: 1.2em;
}

.arrow {
	float: right;
	width: 16px;
	cursor: pointer;
	display:none;
}

.myctrls .plus {
	margin-right:5px;
	color: #0078A8;
	float:right;
	font-size: 1.2em;
}

.myctrls .dropheader {
	margin-bottom:0px;
}

.logos {
	position:absolute;
	bottom:10px;
	left:10px;
	z-index:99;
}

.logos img, #dialog-confirm div img {
	border:1px solid #000;
}

.logos img:hover, #dialog-confirm div img {
	border:1px solid #0084b0;
}

#dialog-confirm {
	font-size: 1.0em;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #222;
}

#dialog-confirm a {
	color: #0078A8;
}

#ui-datepicker-div {
	display: none
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
