body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
}

.leaflet-control-layers {
	width: 200px;
}

.leaflet-control h4 {
	margin:8px 0px 8px 5px;
	font-size:1.6em;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
	text-align: right;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #222;
}

.all_ctrls {
	text-align:center;
	width: 100%;
	margin-top: 10px;
}
.left {
	float: none;
}


.right {
	float: none;
}

.dropbox {
	display:none;
	overflow-y:scroll;
	max-height:300px;
	min-height:50px;
	padding: 5px;
}

.myctrls a {
	font-size: 1.1em;
}

.arrow {
	float: right;
	width: 16px;
	cursor: pointer;
	display:none;
}

.myctrls .plus {
	margin-right:5px;
	color: #0078A8;
	float:right;
	font-size: 1.0em;
}

.myctrls .dropheader {
	margin-bottom:0px;
}

.logos {
	position:absolute;
	bottom:10px;
	left:10px;
	z-index:99;
}

.logos img {
	border:1px solid #838282;
}