body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
}

.leaflet-control-layers {
	width: 200px;
}

.leaflet-control h4 {
	margin:8px 0px 8px 5px;
	font-size:1.6em;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
	text-align: right;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #222;
}

.all_ctrls {
	text-align:center;
}

.dropbox {
	display:none;
}
